@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    font-family: source sans pro;
    background-color: #eee;
    padding: 30%;
    padding-top: 3em;
}
header{
    font-family: abril fatface;
    text-align: center;
}
.date{
    text-align: left;
    font-family: source sans pro;
    color: #777;
}
h2, h4, h5{
    font-family: roboto slab;
}
.newspaper-container{
    background-color: white;
    box-shadow: #ddd;
    width: 700px;
    border-radius: 1%;
    padding: 1em;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 0.2em
}
a:link{
    text-decoration: none;
    color: #777;

}
ul{
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding: 0em 2em;
    position: sticky;
}
.more-articles{
    text-align: center;
    border-top: 2px solid whitesmoke;
    padding: .85em;
}
main h5{
    color: #dd3232;
    font-family: abril fatface;
}
.more{
    display: inline-block;
    width: 45%;
    text-align: justify;
    padding: 0.5em 1em;
}
.article{
    text-align: justify;
    width: 100%;
}
nav{
    position: sticky;
    top: 0em;
    background-color: white
}
.extra-articles{
    color: black;
    text-align: justify;
    padding: 0.75em;
}
.extra{
    display: inline-block;
    width: 30%;
    padding: 0.5em;
}
footer{
    text-align: center;
    font-size: smaller;
    color: whitesmoke;
}